<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Personas</title>

        <!-- Bootstrap CSS -->
        <link href="../static/css/bootstrap.css" rel="stylesheet"
              th:href="@{/css/bootstrap.css}">
        <link href="../static/css/style.css" rel="stylesheet"
              th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container-fluid ">
            <div class="container ">
                <div class="">

                    <form class="form-label d-flex justify-content-between" th:action="@{/logout}" method="post">
                        <a class="btn btn-primary btn-lg m-2" href="/save/0" >Agregar</a>
                        <input type="submit" class="btn btn-success btn-lg m-2 " value="Cerrar sesión">
                    </form>
                </div>
                <h2 th:if="${list == null} OR ${list.isEmpty()}">No hay personas</h2>
                <div th:if=" ${list != null} AND ${!list.isEmpty()}">
                    <h2 class="text-center">Personas</h2>
                    <table class="table table-dark table-bordered align-middle mb-0 text-center shadow">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="persona : ${list}">
                                <td th:text="${persona.id}">
                                <td th:text="${persona.nombre}">
                                <td th:text="${persona.apellido}">
                                <td th:text="${persona.direccion}">
                                <td th:text="${persona.telefono}">
                                <td><a class="btn"  th:href="@{/save/{id}(id=${persona.id})}"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                        <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg></a></td>
                                <td><a class="btn" th:href="@{/delete/{id}(id=${persona.id})}"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#DC0000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <line x1="4" y1="7" x2="20" y2="7" />
                                        <line x1="10" y1="11" x2="10" y2="17" />
                                        <line x1="14" y1="11" x2="14" y2="17" />
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                        </svg></a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>


    </body>
</html>